* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F6F6;
    font-size: 16px;
}

.cabecalho {
    text-align: center;
}

.cabecalho h1 {
    font-size: 48px;
    color: #2025A1;
}

.cabecalho h2 {
    font-size: 28px;
    color: #3A3A3A;
}

.botaoPerguntar, .botaoEnviarPergunta {
    width: 176px;
    height: 52px;
    background-color: #2025A1;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}

.formularioPergunta {
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px solid #EAEAEA;
    width: 524px;
    padding: 32px;
    margin: 0 auto;
    margin-top: 50px;
}

.formularioPergunta h3 {
    color: #2025A1;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.formularioPergunta .mensagem {
    color: #ED6060;
    display: none;
}

.formularioPergunta .titulo {
    width: 100%;
    font-weight: bold;
}

.formularioPergunta input.titulo {
    border: 2px solid #EAEAEA;
    border-radius: 4px;
    height: 30px;
}

.formularioPergunta input.titulo:hover,
.formularioPergunta input.titulo:focus {
    border: 2px solid #2025A1;
    outline: none;
}

.formularioPergunta input.titulo.campoInvalido {
    border: 2px solid #ED6060;
}

.formularioPergunta .descricao {
    width: 100%;
}

.formularioPergunta textarea.descricao {
    border: 2px solid #EAEAEA;
    border-radius: 4px;
}

.formularioPergunta textarea.descricao:hover,
.formularioPergunta textarea.descricao:focus {
    border: 2px solid #2025A1;
    outline: none;
}

.formularioPergunta textarea.descricao.campoInvalido {
    border: 2px solid #ED6060;
}

.formularioPergunta .apelido {
    width: 100%;
}

.formularioPergunta input.apelido {
    border: 2px solid #EAEAEA;
    border-radius: 4px;
    height: 30px;
}

.formularioPergunta input.apelido.campoInvalido {
    border: 2px solid #ED6060;
}

.formularioPergunta input.apelido:hover,
.formularioPergunta input.apelido:focus {
    border: 2px solid #2025A1;
    outline: none;
}

.formularioPergunta .tags {
    border: none;
}

.formularioPergunta .tags.campoInvalido {
    border: 2px solid #ED6060;
}

.formularioPergunta .tags legend {
    float: left;
}

.formularioPergunta .tags input {
    border: 2px solid #EAEAEA;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.formularioPergunta .camposObrigatorios {
    text-align: right;
    font-size: 12px;
    margin-bottom: 20px;
}

.formularioPergunta label {
    display: inline-block;
}

.formularioPergunta label.titulo,
.formularioPergunta label.descricao,
.formularioPergunta label.apelido,
.formularioPergunta .tags {
    margin-top: 10px;
}

.formularioPergunta .tags input {
    margin-left: 20px;
}

.mensagemErro {
    display: block;
}

.ocultarFormulario {
    display: none;
}

.fundoFormulario {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.listaDePerguntas {
    list-style: none;
}

.listaDePerguntas > li {
    margin-top: 30px;
}

.cardPergunta {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background-color: #FFFFFF;    
    border-radius: 4px;
    padding: 20px;
    height: 150px;
    border: 2px solid #EAEAEA;
}

.cardPergunta:hover {
    border: 2px solid #2025A1;
    cursor: pointer;
}

.cardPergunta .conteudo {
    width: 60%;
}

.cardPergunta .info span {
    display: block;
    color: #3A3A3A;
}

.cardPergunta .tags {
    display: flex;
    list-style: none;
    gap: 5px;
}

.cardPergunta .titulo {
    margin-bottom: 30px;
}

.cardPergunta .numeroDeVisualizacoes {
    margin-bottom: 30px;
}

.cardPergunta .tags .html {
    background-color: #DD4B25;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.cardPergunta .tags .javascript {
    background-color: #EFD81D;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.cardPergunta .tags .css {
    background-color: #264DE4;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.cardPergunta .perfil {
    text-align: center;
}
.cardPergunta .perfil img, .cardPergunta span {
    display: block;
    color: #3A3A3A;
}

.tituloListaDePerguntas {
    color: #2025A1;
    font-size: 24px;
    margin-bottom: 30px;
}
